*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}


section{
    padding: 5rem 3%;

}

@keyframes fadeIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: #AFD3E2;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}



.header .navBar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #146C94;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    line-height: 27px;
}

.header .navBar a:hover{
    color: #F6F1F1;
}

img.header_logo{
    width: 130px;
    height: 50px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F1F1;
    width: 250px;
    border: 2px solid rgba(20, 108, 148, 0.6);
    border-radius: 20px;
}

.searchBar input{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F6F1F1;
    color: #146C94;
    font-weight: 700;
}

.searchBar i{
    color: #146c94; font-size: 15px;
}

.searchBar i:hover{
    color: #17343f;
}

.searchBar input::placeholder{
    color: rgba(20, 108, 148, 0.6);
    font-weight: 700;
}

.fa-solid.fa-magnifying-glass{
    cursor: pointer;
}


.icSign{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icSign a{
    text-decoration: none;
    font-weight: 800;
    line-height: 27px;
    color: #146C94;
    font-size: 18px;

}

.icSign a:hover{
    color: #F6F1F1;
}

.icSign i{
    cursor: pointer;
    font-size: 22px;
    color: #146c94;
}


.icSign i:hover{
    color: #F6F1F1;
}




@media (max-width: 1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width: 991px){

    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }


}
