body{
    padding: 0;
    margin: 0;
    background: #AFD3E2;
}

.container{
    background: #F6F1F1;
    width: 27%;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 80px 50px;
}

.logo{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 150px;
    height: 150px;
    position: absolute;
    top: -15%;
    left: 32%;

}

form{
    padding-top: 50px;
}

::placeholder {
    color: #19A7CE;
    opacity: 0.7; 
}

input[type=email]{
    background: rgba(175, 211, 226, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0px;
    width: 280px;
    height: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #19A7CE;
    padding-left: 20px;
    margin-bottom: 18px;
}


input[type=password]{
    background: rgba(175, 211, 226, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0px;
    width: 280px;
    height: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #19A7CE;
    padding-left: 20px;
    margin-top: 18px;
}



/* start css icon */
i{
    position: absolute;
}

i.fa-solid.fa-envelope{
    bottom: 68.5%;
    left: 78%;

}

i.fa-solid.fa-lock{
    bottom: 52%;
    cursor: pointer;
    left: 78%;

}
/* end css icon */



input[type=checkbox]{
    border: 2px solid #CACACA;
    accent-color: #19A7CE;
    position: absolute;
    bottom: 45%;
    left: 14%;
}

span.Rme{
    font-style: normal;
    font-weight: 500;
    font-size: small;
    color: #146C94;
    position: absolute;
    bottom: 45%;
    left: 19%;
}

input[type=submit]{
    background: #146C94;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 305px;
    height: 55px;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
}


span.notHaveAnAccount{

    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}

.socialMediaSignin p{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 33px;
    color: #146C94;
    text-align: center;
    margin-top: 30px;
}

.socialMediaSignin .fa-brands.fa-google-plus-g{
    right: 205px;
    bottom: 48px;
    cursor: pointer;
}

.socialMediaSignin .fa-brands.fa-facebook{
    right: 140px;
    bottom: 50px;
    cursor: pointer;
}   

a{
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    color: #146C94;
    text-decoration: none;
}

.signUpHere{
    position: absolute;
    left: 18%;
    bottom: -7%;
}